
credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              id: docker-cred
              username: "{{ dockerhub_username }}"
              password: "{{ dockerhub_password }}"
              description: DockerHub Credential
