
jenkins:
  systemMessage: "Jenkins configured automatically by Ansible"

  numExecutors: 2

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_admin_user }}"
          password: "{{ jenkins_admin_password }}"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
